.white-panel
{ background-color:#fff;
  
  padding:0;
  color:#333;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.075);
  box-shadow:0 1px 2px rgba(0,0,0,.075); 
  border:1px solid #dadada;
}

.white-nav
{ background-color:#fff;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.075);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.075);
  box-shadow:0 1px 2px rgba(0,0,0,.075); 
}

body {
	background-color:#f5f5f5;
}

.documentation {
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	border:1px solid #dadada;
	margin-bottom:40px;	
}

.title {
margin-top:35px;
margin-bottom:15px;
}

.nontitle {
margin-bottom:15px;
}

.params {
	padding-left:20px;
}

.titlecontent {
	padding-left:25px;	
}

.hometitle {
	padding-left:25px;
	padding-right:25px;
}

.content {
	padding-left:25px;
	padding-right:30px;	
	padding-bottom:20px;
	
}

.cselogo {
    padding-top:15px;
    padding-left:125px;
	padding-right:125px;	
	padding-bottom:25px;
    
}

.homebox {

	padding-top:10px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;

}

.abstract2 {

	padding-top:10px;
	padding-left:25px;
}

.outbox {
	padding-left:16px;
	padding-right:16px;
}


IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.paper {
    padding-bottom: 5px;
    list-style-type: none;
}

.paper li {
    margin: 0px;
    margin-left: 30px;
    padding-bottom: 10px;
    font-size:16px;
    line-height:25px;
    font-weight: 220;
}


.authors {
    padding-bottom: 1px;
}

.authors li {
    margin: 5px;
    margin-left: 30px;
    padding-top: 0px;
}

.recommendations li {
    margin: 5px;
    margin-left: 50px;
    padding-top: 2px;
    font-size:17px;
    line-height:25px;
    font-weight: 200;
}

.recommendations {
    padding-bottom: 5px;
}

.subsection li {
    margin: 5px;
    margin-left: 35px;
    padding-top: 0px;
    font-size:17px;
    line-height:20px;
    font-weight: 200;
}

.subsection {
    padding-bottom: 5px;
}


.affix {
    top: 10px;
}​

p {
  margin: 0 0 10px;
}

p.paperauthor {
    margin-bottom:15px;
    font-size:18px;
    line-height:18px;
}

p.abstract {
    margin-bottom:15px;
    font-size:16px;
    text-align:justify;
}

p.fronttop {
    margin-top:15px;
    margin-bottom:15px;
    font-size:18px;
    line-height:25px;
    font-weight: 200;
}


p.front {
    margin-bottom:15px;
    font-size:18px;
    line-height:25px;
    font-weight: 200;
}

p.indented {
    padding-left: 50px;
}

p.indent {
    padding-left: 50px;
}

.indent {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}


li.section {
    font-size:13px;
    line-height:25px;
    font-weight: 200;
}

p.section {
    margin-bottom:8px;
    font-size:18px;
    line-height:25px;
    font-weight: 200;
}